@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hakkında";
}
<style>
    body {
        background-color: #efefef;
    }
</style>
<div class="container">
    <div class="my-3">
        <button class="btn btn-outline-danger" onclick="window.close()"><b>X</b></button>
        <br />
        <br />
        <div class="container bg-light p-3">
            <h2>Hakkında</h2>
            <br />
            <em>&nbsp;&nbsp;&nbsp;&nbsp;İşbu ağ uygulaması bir eğitim çıktısı olması amacıyla ASP.NET, EntityFramework, SQLDependency, AJAX, SignalR ortam ve araçları kullanılarak oluşturulmuştur.</em>
            <br />
            <br />
            <br />
            <div class="text-end"><small>front&back-end: <a class="text-decoration-none text-black" href="http://hasanalicaglar.com/"><b>Hasan Ali ÇAĞLAR</b></a><br />Copyleft - July 2023</small></div>
        </div>
        
    </div>
</div>
